@import url(https://raw.githubusercontent.com/YTXaos/InjectJS/main/assets/fontawesome.css);
.js-injector-popup {
  position: fixed;
  z-index: 9999;
  background: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 1px solid #e3e1e1;
  padding: 0.5em;
  border-radius: 0.25rem;
  overflow: auto;
  max-height: 500px;
  max-width: 500px;
  left: 50%;
  display: none;
  transform: translateX(-50%);
}
.js-inject-header {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.js-logo-needle {
  background-image: url(https://raw.githubusercontent.com/YTXaos/InjectJS/main/assets/logov2.png);
  background-repeat: no-repeat;
  background-size: 25px;
  display: inline-block;
  color: transparent;
  background-position: center;
}
.js-inject-header .js-logo {
  color: gold;
}
.js-code-inject {
  resize: both !important;
  position: relative;
  box-sizing: border-box;
  padding: 0.4em;
  background: inherit;
  border-radius: 0.25rem;
  outline: none;
  transition: box-shadow .15s ease-in-out;
  font-family: arial;
  display: block;
  height: 7rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.js-code-inject:focus {
  box-shadow: 0 0 0 3px rgb(0 123 255 / 57%);
}
.js-btns-section {
  display: flex;
  gap: 5px;
  width: 100%;
}
.execute-code {
  all: revert;
  background: #f8e12e;
  border: none;
  color: white;
  padding: 0.3em 0.4em;
  cursor: pointer;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  outline: none;
  width: 60%;
  box-sizing: border-box;
}
.execute-code:disabled {
  background: rgb(187, 186, 186);
  color: white;
  pointer-events: none;
}
.execute-code:hover {background: #bfae1d;}
.execute-code:active {background: #a8990b;}
.js-options-btn {
  all: revert;
  background: #33ef4a;
  border: none;
  color: white;
  padding: 0.3em 0.4em;
  cursor: pointer;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  outline: none;
  width: 40%;
  box-sizing: border-box;
}
.js-options-btn:hover {background: #1adb30;}
.js-options-btn:active {background: #0eac20}
.js-injector-popup.show {
  display: block !important;
}
.js-injector-logs {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0.5rem;
  background: #000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  z-index: 9999;
  overflow: hidden auto;
  display: none;
}
.js-log {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  display: inline-block;
}
.js-log.warning {
  color: rgb(255, 229, 79);
}
.js-log.error {
  color: rgb(255, 82, 82);
}
.js-logs-close {
  font-size: 1.4rem;
  color: white;
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    .js-code-inject {
        color: white;
    }
}