:root {
  --background-1: #f7f7f7;
  --background-2: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
      --background-1: #2d2d2d;
      --background-2: #2e2e2e;
    }
}
body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  background: var(--background-1);
}
.container {
  border: 1px solid #e3e1e1;
  width: 5rem;
  height: 10rem;
  background: var(--background-2);
}